<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Dojo Weather Forecast
  </h1>
</div>
<div style="text-align:center">
  <button [routerLink]="['sanJose']">San Jose CA</button>
  <button [routerLink]="['seattle']">Seattle WA</button>
  <button [routerLink]="['burbank']">Burbank CA</button>
  <button [routerLink]="['dallas']">Dallas TX</button>
  <button [routerLink]="['washington']">Washington DC</button>
  <button [routerLink]="['chicago']">Chicago IL</button>
  <router-outlet></router-outlet> 
</div>
